<div class="container container-custom">
    <h1 class="header-title">Plans</h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="card custom" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/jean-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h1 class="card-title">Cub</h1>
                  <p class="card-text">Perfect for a modest budget</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Up to 4 devices</li>
                  <li class="list-group-item">Price: $10/month</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Buy now</a>
                  <a href="#" class="card-link">More info</a>
                </div>
              </div>
        </div>
    
        <div class="col-sm-4">
            <div class="card custom" style="width: 18rem;">
                <img class="card-img-top fit-image" src="../../assets/maurits-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h1 class="card-title">Leopard</h1>
                  <p class="card-text">The most value</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Up to 8 devices</li>
                  <li class="list-group-item">Price: $20/month</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Buy now</a>
                  <a href="#" class="card-link">More info</a>
                </div>
              </div>
    
        </div>
        <div class="col-sm-4">
    
            <div class="card custom" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/rishabh-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h1 class="card-title">Tiger</h1>
                  <p class="card-text">King of the jungle!</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Up to 12 devices</li>
                  <li class="list-group-item">Price: $30/month</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Buy now</a>
                  <a href="#" class="card-link">More info</a>
                </div>
              </div>
        </div>
    
    
    
    </div>

<!-- 
 <a href="#" routerLink="/Passengers/create/" class="btn btn-success">+ Create A Passenger</a>
    <table class="table table-bordered table-striped table-hover table-dark">
        <thead class="thead-light">
            <tr class="table-warning">
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">User Id</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Devices</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active" *ngFor="let plan of plans">
                <td>{{ plan.planName }}</td>
                <td>{{ plan.planPrice }}</td>
                <td>{{ plan.userId }}</td>
                <td>{{ plan.phoneNumber }}</td>
                <td>{{ plan.devices }}</td>
                
                <td>
                    <a href="#" [routerLink]="['/plan/', plan.id]" class="btn btn-primary">Details</a>
                    <a href="#" [routerLink]="['/plan/device', plan.id]" class="btn btn-secondary">Devices</a>
                     <a href="#" [routerLink]="['/Passengers/edit/', passenger.id]" class="btn btn-info">Edit</a>
                     <button type="button" (click)="deletePassenger(passenger.id)" class="btn btn-danger">Delete</button>
                </td>
                
            </tr>
        </tbody>
    </table> -->
</div>