<div class="container container-custom">
  <h1 class="header-title">Devices</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card custom" style="width: 18rem;">
            <img class="card-img-top" src="../../../assets/sara-kurfess-6lcT2kRPvnI-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
              <h1 class="card-title">Apple I-Phone 29</h1>
              <p class="card-text">Finally a smart phone with smell-capabilities and market predictions</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Model: hrc10000</li>
              <li class="list-group-item">Price: $1300</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Buy now</a>
              <a href="#" class="card-link">More info</a>
            </div>
          </div>
    </div>

    <div class="col-sm-4">
        <div class="card custom" style="width: 18rem;">
            <img class="card-img-top fit-watch" src="../../assets/daniel-korpai-hbTKIbuMmBI-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
              <h1 class="card-title">Garmin Smart-Watch x2000</h1>
              <p class="card-text">Now you can know what time it is!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Model: DJT450</li>
              <li class="list-group-item">Price: $400</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Buy now</a>
              <a href="#" class="card-link">More info</a>
            </div>
          </div>

    </div>
    <div class="col-sm-4">

        <div class="card custom" style="width: 18rem;">
            <img class="card-img-top fit-image" src="../../assets/serwin365-0cG_yQAdYIM-unsplash.jpg" alt="Card image cap">
            <div class="card-body">
              <h1 class="card-title">Samsung 55-inch Tablet Z</h1>
              <p class="card-text">My daughter calls our television the big tablet!</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Mode: bHo4470</li>
              <li class="list-group-item">Price: $600</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Buy now</a>
              <a href="#" class="card-link">More Info</a>
            </div>
          </div>
    </div>



</div>
</div>